
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <% if(error){ %>
<p style =" color:red"><% error %></p>
    <%}%>

    <form action="/login" method="post">
        <div>
            <lebal>email:</lebal>
            <input type="email" name="email" required>
        </div><br>

              <div>
            <lebal>password:</lebal>
            <input type="password" name="password" required>
        </div><br>
        <button  type="submit">submit</button>
    </form>
    <a href="/register">register</a>
</body>
</html>